<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="main.css" rel="stylesheet">
  <title>
    <%= title %>
  </title>

</head>

<body>
  <!--
  <nav>
    <ul>
      <li><a href="/admin/add-product">Add product</a></li>
      <li><a href="/">Shop</a></li>
    </ul>
      
  </nav>
    -->
  <nav>
    <div class="container">
      <ul class="nav-list">
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/add-product">Add product</a></li>
      </ul>
    </div>

  </nav>
  <main class="container">
    <h1>Page not found 404</h1>
  </main>
</body>

</html>
