<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <%- include('./includes/navigation.ejs') %>
      <main class="container">
        <h1>Shop</h1>
        <p>List of products:</p>
        <% if(products.length>0){ %>
          <% for(let product of products){ %>
            <span>title: <%= product.title %></span>

            <% }}else{ %>
              <p>no found</p>
              <% } %>
      </main>
      <%- include('./includes/end.ejs') %>
